@import '~tachyons-sass/tachyons.scss';
@import 'variables';

.header_bg {
   position: relative; 
   // width: 100%; /* for IE 6 */
}

.image_bg {
  left: 0;
  width: 100%;
  height: 92vh; // or whatever
}

.mt-5 {
	margin-top: -35em;
}